{% extends "shared/base.html" %}

{% block title %}
<title>401 error</title>
{% endblock %}

{% block content %}

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">401</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> You are not authorized or don't have rights.</p>
        <p class="lead">
            Please, login or write admin if you think that you might have rights
        </p>
    </div>
</div>
{% endblock %}