{% extends "shared/base.html" %}

{% block title %}
<title>403 error</title>
{% endblock %}

{% block content %}

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">403</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Invalid verification code or account already verified.
        </p>
        <p class="lead">
            Navigate to the home page please.
        </p>
    </div>
</div>
{% endblock %}